body {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    font-family: 'Droid Sans',Arial,Helvetica,sans-serif;
    vertical-align: baseline;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
}
.gallery {
    max-width: 980px;
    height: 100%;
    position: relative;
    margin: 50px auto;
}
.gallery-items {
    position: relative;
    margin: 0 auto;
    float: left;
}
.gallery-items li {
    float: left;
    margin: 0 3% 3% 0;
    width: 47%;
    height: auto;
    overflow: hidden;
    position: relative;
    cursor: default;
    background: transparent;
    opacity: 1;
}
.gallery-items li img {
    display: block;
    width: 100%;
    position: relative;
}
.gallery-items li, .gallery-items li .overlay, .gallery-items li h3, .gallery-items li .overlay p {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.gallery-items li .slide, .gallery-items li h3, .gallery-items li .slide p {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}
.gallery-items li:hover .slide, .gallery-items li:hover .slide p, .gallery-items li:hover h3 {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}
.gallery-items li .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    cursor: auto;
    color: #fff;
    z-index: 2;
}
.gallery-items li .slide {
    background: #5b8ab5;
}
.gallery-items li .scale {
    opacity: 0;
    background-color: rgba(0,0,0,.7);
}
.gallery-items li:hover .scale {
    opacity: 1;
}
.gallery-items li .category {
    display: block;
    width: auto;
    color: #3B6489;
    font-size: 4em;
    padding: 20% 10% 5%;
}
.icon {
    font-family: FontAwesome;
    font-weight: 400;
}
.gallery-items li .slide h3 {
    font-size: 1.1em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 10%;
}
.gallery-items li .scale h3 {
    text-transform: uppercase;
    color: #222;
    font-size: 1.1em;
    font-weight: 700;
    padding: 10px 10%;
    display: block;
    width: 70%;
    position: relative;
    background: #eae177;
    margin: 40% 0 0;
}
.gallery-items li .overlay p {
    font-size: .7em;
    padding: 5% 10%;
    line-height: 1.6em;
}
.gallery-items li .scale p {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}
.gallery-items li:hover .scale p {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}
.gallery-items li .slide h3, .gallery-items li .overlay p {
    color: #fff;
    display: block;
    width: 90%;
    position: relative;
}
.gallery-items li:hover .slide h3, .gallery-items li:hover .scale p {
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -o-transition-delay: .2s;
    -ms-transition-delay: .2s;
    transition-delay: .2s;
}
.gallery-items li:hover .slide p, .gallery-items li:hover .scale h3 {
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    -ms-transition-delay: .4s;
    transition-delay: .4s;
}
.gallery-items li .divider {
    width: 70%;
    border-top: solid 1px #4A78A2;
    margin-left: 10%;
}
.image-links {
    height: auto;
    margin: 5% 0 0 10%;
}
.gallery-items li .image-links a {
    opacity: 0;
    display: inline-block;
    position: relative;
    text-decoration: none;
    margin: 0 5% 0 0;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}
.gallery-items li:hover .image-links a {
    opacity: 1;
}
.gallery-items li .image-links a:hover {
    color: #3B6489;
    text-decoration: none;
}
.gallery-items li .image-links a, a.tooltip span {
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}
a.tooltip span {
    opacity: 0;
    min-width: 80px;
    left: -33px;
    bottom: 30px;
    right: 0;
    top: auto;
    white-space: normal;
    background: #fff;
    color: #555;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    height: auto;
    width: auto;
    margin: 0 auto;
    position: absolute;
    pointer-events: none;
    visibility: hidden;
}
a.tooltip span:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #FFF transparent transparent;
    top: auto;
    left: 30px;
    bottom: -18px;
}
a.tooltip:hover span {
    opacity: 1;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    visibility: visible;
}
.gallery-items li img.zoom, .gallery-items li .scale .image-links a {
    transition: transform .3s ease-in-out;
    -ms-transition: -ms-transform .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out;
}
.gallery-items li:hover a.link-one {
    -webkit-transition-delay: .8s;
    -moz-transition-delay: .8s;
    -o-transition-delay: .8s;
    -ms-transition-delay: .8s;
    transition-delay: .8s;
}
.gallery-items li:hover a.link-two {
    -webkit-transition-delay: 0.9s;
    -moz-transition-delay: 0.9s;
    -o-transition-delay: 0.9s;
    -ms-transition-delay: 0.9s;
    transition-delay: 0.9s;
}
.gallery-items li:hover a.link-three {
    -webkit-transition-delay: 1.0s;
    -moz-transition-delay: 1.0s;
    -o-transition-delay: 1.0s;
    -ms-transition-delay: 1.0s;
    transition-delay: 1.0s;
}
.gallery-items li:hover img.zoom {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
}
.gallery-items li .scale .image-links a {
    -webkit-transform: translateY(400px);
    -moz-transform: translateY(400px);
    -o-transform: translateY(400px);
    -ms-transform: translateY(400px);
    transform: translateY(400px);
}
.gallery-items li:hover .scale .image-links a {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}



@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@-o-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
.fade-in {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    -o-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}
.fade-in.one {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    animation-delay: .3s;
}
.fade-in.two {
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    animation-delay: .6s;
}
.fade-in.three {
    -webkit-animation-delay: .9s;
    -moz-animation-delay: .9s;
    animation-delay: .9s;
}
.fade-in.four {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s;
}